.MainChat
  .MainChat__chatTop
    .MainChat__groupData
      .MainChat__groupData--name 
        = @group.name
      %p.MainChat__groupData--member
        Member :
        %span<>
        - @group.users.each do |f|
          = f.name
    .MainChat__chatEdit
      = link_to edit_group_path(@group), class: "MainChat__chatEdit--btn" do
        Edit
  .MainChat__chatContents
    = render @messages
  = form_with model: [@group, @message], html: {class: 'MainChat__form'}, local: true do |f|
    .MainChat__formType
      = f.text_field :body, class: 'MainChat__formType--text', placeholder: 'type a message'
      = f.label :image, class: 'MainChat__formType--image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'MainChat__formType--hidden'
    = f.submit 'Send', class: 'MainChat__formSend'