.SideChat
  .SideChat__userData
    .SideChat__userName
      = current_user.name
    .SideChat__icon
      = link_to new_group_path, class: "SideChat__icon--edit" do
        = icon('far', 'edit')
      = link_to edit_user_path(current_user), class: "SideChat__icon--gear" do
        = icon('fas', 'cog')

  .SideChat__groupWrapper
    - current_user.groups.each do |group|
      .SideChat__chatList
        = link_to '#' do
          .SideChat__chatList--groupName
            = group.name
          .SideChat__chatList--message
            %p メッセージはまだありません
